<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Files</title>
  </head>
  <body>
    <div class="nav">
      <div>Home</div>
      <div class="about">About</div>
    </div>
    <div class="classes_container">
      {% for class in classes %}
        <div class="class">
          <h4>{{ class.class_name }}</h4>
          <div class="files_container">
            {% for file in class.files %}
              <div class="files_div">
                <img src="/static/images/illustrations/file_illustration.jpg" alt="">
                <h5>{{file}}</h5>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
